.name {
  font-size:  x-large;
  font-weight: bolder;
  margin-left: 8px;
}

.age {
  font-size:  large;
  font-weight: bolder;
  margin-left: 8px;
}

ion-card {
  border-radius: 20px;
}
ion-avatar img {
  border-radius: 10px;
  /* border: 2px solid #FF0000; */
}

ion-item {
  background-color: #FFFFFF;
  /* margin-bottom: 20px; */
}